.imagen {
  max-width: 100%;
}

a {
  cursor: pointer;
}
.alerta {
  font-weight: 700;
}
body {
  background-color: #e3d8d6;
  overflow-x: hidden;
}
.modal-contenedor {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.img-carrito {
  width: 200px;
  padding: 20px;
}
.modal-content {
  background-color: #e3d8d6;
}
.parrafo {
  font-weight: 900;
  font-style: italic;
}
#precioTotal {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.boton {
  opacity: 0;
}

body {
  background-image: url(img/fondo/fondo1.jpg);
}
.main_text {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: lightgreen;
}

.card-img-top {
  height: 15rem;
}

.bi-cart {
  color: lightgreen;
  font-size: 2rem;
}
.bi-cart:hover {
  color: green;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: black;
}
